@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2; /* #f2f2f2 */
}

/* CSS DesktopVersion Start */
.prototypeVersion {
    display: none !important;
}
.wrapper {
    background: #f2f2f2;
    padding: 0 20px 0 20px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.rowDesktop {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.imageSebelah {
    background-image: url("assets/images/DarkModeLogo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}
.img {
    width: -10px !important;
    height: -10px !important;
    position: absolute;
    top: 30px;
    left: 30px;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p {
    color: #fff;
    font-size: 18px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box {
    width: 330px;
    box-sizing: border-box;

}
.input-box header {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 75px;
}
.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field .input:focus ~ label {
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid {
    border-bottom: 1px solid #0080BF;
}
.submit {
    border: none;
    outline: none;
    height: 45px;
    background: rgba(27, 36, 48, 1);
    color: #fff;
    border-radius: 25px;
    transition: .4s;
}
.submit:hover {
    background: rgb(71, 96, 129);
    color: #fff;
}
.register {
    text-align: center;
    margin-top: 30px;
}
.register a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: .5s;
}
.register a:hover {
    text-decoration: underline;
    color: #000;
}
.inputSignin {
    height: 45px;
}

@media only screen and (max-width: 768px) {
    .imageSebelah {
        border-radius: 10px 10px 0 0;
    }
    .img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p {
        font-size: 17px;
    }
    .row {
        max-width: 420px;
        width: 100%;
    }
}
/* CSS DesktopVersion End */


/* CSS PrototypeVersion Start */
.containerUtama {
    min-height: 630px;
    justify-content: center;
    align-items: center;
}
.kotakUtama {
    width: 330px !important;
    height: 380px;
    margin-left: 24px !important;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}
.headerPrototype header {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px !important;
}
.logoPerusahaan {
    width: 50% !important;
    height: auto;
    padding-top: 60px;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 23%;
    margin-bottom: 50px;
}
.emailPrototype {
    color: #747474;
}
.passwordPrototype {
    color: #747474;
}
.subheaderPrototype {
    padding: 0 10px 0 10px;
}
.tombolSubmitPrototype {
    letter-spacing: 1px !important;
    border-radius: 7px !important;
}
.submitLoginPrototype {
    width: 160px;
    height: 40px;
    margin-top: 30px !important;
}
.forgotPasswordPrototype {
    color: #0080BF;
    padding-left: 170px;
    padding-top: -10px;
    font-size: small;
}
.forgotPasswordPrototype a{
    text-decoration: none;
    color: #0080BF;
    transition: .5s;
}
.forgotPasswordPrototype a:hover {
    text-decoration: underline;
}
.testVers {
    font-size: small;
    color: #464646;
    margin-top: -10px;
    text-align: center !important;
}
/* CSS PrototypeVersion End */

/* Entry Point CSS */
@media screen and (max-width: 450px) {
    .desktopVersion {
        display: none !important;
    }
    .prototypeVersion {
        display: block !important;
    }

}
/* Sedang tahap pengembangan Android Version, itu sebabnya DesktopVersion dihilangkan */
